.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

main {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: black;
    text-align: center;
    margin: 0;
    border: 0;
}

.box {
    margin: 10px;
    border:3px solid black;
    border-radius:15px;
    padding:10px;
    box-shadow:5px 10px 12px #888888;
    transition: opacity 0.2s;
}

.box:hover {
    opacity: 0.8;
}

.box:active {
    opacity: 0.4;
}

div.job {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(152, 152, 152);
    box-shadow: 10px, 10px, 0, rgba(0, 0, 0, 1);
    width: 60%;
    height: fit-content;
}

.dates {
    font-style: italic;
    color: rgb(35, 35, 35);
}