.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

header {
    /* position: fixed;
    top: 0;
    width: 100%; */
    background-color: #1b3147;
    color: white;
    text-align: center;
    margin: 0;
    border: 0;
    padding-top: 70px;
}

nav {
    padding: 30px;
}

.menu {
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: opacity 0.15s,
                box-shadow 0.15s;
}

.menu:hover {
    background-color: #223f5b;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
}

.menu:active {
    opacity: 0.8;
}

main {
    min-height: max-content;
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: #ffffff;
    color: black;
    text-align: center;
    margin: 0;
    border: 0;
}

.box {
    margin: 10px;
    border:3px solid black;
    border-radius:15px;
    padding:10px;
    box-shadow:5px 10px 12px #888888;
    transition: opacity 0.2s;
}

.box:hover {
    opacity: 0.8;
}

.box:active {
    opacity: 0.4;
}

footer {
    margin-top: auto;
    background-color: rgb(55, 55, 55);
    color: white;
    text-align: center;
    margin: 0;
    border: 0;
    padding: 10px;
}