header {
    /* position: fixed;
    top: 0;
    width: 100%; */
    background-color: #1b3147;
    color: white;
    text-align: center;
    margin: 0;
    border: 0;
    padding: 20px;
}

.name {
    margin: 0;
}

nav {
    padding: 20px;
    background-color: rgb(84, 84, 84);
}

.menu {
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: opacity 0.15s,
                box-shadow 0.15s;
}

.menu:hover {
    background-color: #223f5b;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
}

.menu:active {
    opacity: 0.8;
}